html {
    scroll-behavior: smooth;
  }
body{
    
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
    border-bottom: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.all-container{
    display: flex;
    flex-direction: column;
}
.background-one{
    z-index: 1;
    -webkit-filter: blur(4px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 842px;
    background-image: url("https://images.pexels.com/photos/161154/stained-glass-spiral-circle-pattern-161154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.div-one{
    z-index: 2;
    height: 842px;
    position: absolute;
    color: white;
    margin: 22px 0 0 88px;
}
.main-title{
    font-size: 1.5rem;
    font-family: 'Libre Bodoni', serif;
    font-weight: 100;
}
.subtitle{
    text-transform: uppercase;
    font-size: 1rem;
    position: relative;
    top: 248px;
    left: 348px;
    font-weight: 100;
}
.title{
    font-size: 3.4rem;
    font-weight: 100;
    width: 350px;
    line-height: 58px;
    position: relative;
    top: 238px;
    left: 268px;
    text-align: center;
}
.fake-btn{
    background-color: white;
    color: black;
    font-weight: bold;
    height: 38px;
    padding: 12px 94px 12px 94px;
    border-radius: 22px;
    font-size: 0.9rem;
}
.fake-btn.one{
    position: relative;
    top: 282px;
    left: 308px;
}
.fake-btn:link{
    text-decoration: none;
}
.div-two{
    z-index: 2;
    background-color: black;
    height: 822px;
}
.side-h2{
    font-size: 2.8rem;
    font-weight: 100;
    width: 290px;
    line-height: 48px;
    position: relative;
    top: 100px;
    left: 242px;
}
.fake-btn.two{
    position: relative;
    left: 242px;
    top: 142px;
}
.figure2 img{
    height: 600px;
    width: 500px;
    position: relative;
    left: 800px;
    object-fit: cover;
    bottom: 142px;
}
.div-three{
    height: 822px;
    z-index: 2;
    background-color: black;
    display: flex;
}
.figure3 img{
    height: 600px;
    width: 500px;
    position: relative;
    left: 100px;
    object-fit: cover;
    top: 62px;
}
.article-text{
    font-size: 1rem;
    font-weight: 100;
    width: 280px;
    position: relative;
    left: 392px;
    top: 182px;
}
.small-title{
    font-weight: 100;
    font-size: 2rem;
    position: relative;
    top: 372px;
    width: 350px;
    line-height: 34px;
    left: 109px;
}
.background-four{
    z-index: 1;
    -webkit-filter: blur(4px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 842px;
    background-image: url("./4.jpg");
}
.div-four{
    height: 822px;
    position: absolute;
    z-index: 2;
    top: 2600px;
}
.div-five{
    height: 822px;
    z-index: 2;
    background-color: black;
}
.div-six{
    height: 822px;
}
.div-seven{
    height: 822px;
}
